
.fadebg{
    position:fixed;
    width:100%;
	height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(178,178,178,0.5);
    display:none;
	z-index:9000;
}
.innerhelp{
      position:absolute;
   /* max-width:45%;
    max-height:45%; */
    max-width: 100%;
    max-height: 100%
    top:40px;
    /*top:50%;*/
    left:50%;
    overflow:visible;

   /* position:fixed;
    top:100px;
  left:50%;
    width:750px;
    margin-left:-375px; 
    background-color:#b2b2b2;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.15);
    border-radius:10px;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    opacity:1;
  z-index:9999;*/
}
img.howto {
    position:relative;
    max-width:100%;
    max-height:100%;
 /*   margin-top:-50%; */
 margin-top:40px;
    margin-left:-50%;
}

.helplink {
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   padding-left: 270px;
   text-decoration: underline;
}

.faq-cnt {
    float: left;
    padding-top: 30px;
    width: 100%;
  line-height: 35px !important;
   /* padding: 30px 180px;*/
}

.faq-cnt p{
  font-size:28px;
  font-family: 'latoitalic';
  color:#00B5AC;  
  
}
.faq-cnt span{
  font-size:21px;
  font-family: 'latoregular';
  color:#005751;
  float:left;
  margin-top:-5px;
  margin-bottom:30px;
  line-height:30px;
  
}

.dropdown-menu {
 top:50px;
}

.footer-down{
    background: rgba(0,0,0,0.7) none repeat scroll 0 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'latoregular';
    font-size: 14px;
    float: left;
    width: 100%;
}


body {
  min-height: 100%;
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}


html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #f5f5f5;
}


.learn-more {
/*width: 50%;*/
}
.jumbotron {
  padding: 0px;
  margin-bottom:20px;
}

.jumbotron2 {
  padding: 0px;
  background-image: url("/images/homepage_top_image2.png");
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 50%;
	width:100%;
	/*height:400px;*/
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}

.thumbnail-games {
	border: none;
	border-radius: 0px;
	background-color: #cacaca;
  /*margin-top:20px;*/
  margin-bottom:0px;
}


.row-games {
margin-right: 0px;
margin-left: 0px;
}

.h2-title {
text-align: center;
margin-top: -10px;
}

.h2-title2 {
text-align: center;

}

.row-sites {
margin-right: 0px;
margin-left: 0px;
}

.aboutus {
padding: 0px;
}

.bottom-cnt{
/*	padding-bottom: 160px;*/
}

.faq{
	padding-bottom: 160px;
}

.chatbody{
padding-bottom: 0px;
}

.ourtools {
 
    padding: 12px 30px;
    background: #00a89b;
    font-size: 14px;
    font-family: 'latobold';
    color: #FFFFFF;
    border-radius: 0px;
	width: 75%;
}


.vcenter {
    /*display: inline-block;*/
    vertical-align: middle;
    float: none;
	
	}

	.beacoach{
	padding-top:0px;
	margin-top:0px;
  padding-bottom: 60px;
	}

.logosize{
    /*max-height: 100px;*/
    width: 295px;
    max-width:295px;
    margin-top:9px;
}

.sidekick-logosize{
    max-width:162px;
}


.thumbnail-pr {
  border: none;
  border-radius: 0px;
}

.content-section{
  padding-bottom: 20px;
}

.thumbnail>img, .thumbnail a>img {
max-height: 70PX;

}

.header-container{
  width: 1200px;
}

@media (max-width: 1200px) and (min-width: 0PX) {
    .nav li.hidesmall {
        display:none;
    }
}

@media (max-width: 991px){

.slide-content h1 {
    font-size: 30px;
}  
}

@media (max-width: 991px){

.slide-content p {
    font-size: 18px;
    line-height: 1.4;
}  
}

.col-content {
  height: auto;
}

@media (min-width: 768px) and (max-width: 991px){
.vcenter{
  min-width: 690px;
}
}


@media (max-width: 768px) {
#mc_embed_signup input.email {
    width: 50% !important;
    margin-bottom: 5px;
  }
}

#mc_embed_signup .email {
  width: 200px;
  }

@media (max-width: 768px) {
#mc_embed_signup .button {
    width: 35% !important;
  }
}


/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      #chatlioWidgetPlaceholder {
        width: 100%;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      #chatlioWidgetPlaceholder {
        width: 100%;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      #chatlioWidgetPlaceholder {
        width: 79.2%;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      #chatlioWidgetPlaceholder {
        width: 60.6%;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      #chatlioWidgetPlaceholder {
        width: 50%;

      }
    }

/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.questionbox {
   /* border-radius: 25px; */
    /*border: 2px solid #73AD21;*/
    padding: 20px; 
    width: 200px;
    height: 150px; 
}