/*
 *
 * Template Name: Alissa
 * Template URI: http://azmind.com
 * Description: Alissa - Responsive Coming Soon Template
 * Author: Anli Zaimi
 * Author URI: http://azmind.com
 *
 */


body {
    background: #fff;
    text-align: left;
   font-family: 'Roboto Condensed', sans-serif;
    color: #555;
    font-weight: 400;
    border-top: 3px solid #19a99c;
}

strong { font-weight: 700; }
a:hover { text-decoration: none; }

::-moz-selection { background: #e75967; color: #fff; text-shadow: none; }
::selection { background: #e75967; color: #fff; text-shadow: none; }

.logo h1 {
    margin-top: 20px;
    padding-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    font-weight: 400;
    color: #555;
}

.logo h1 span { color: #e75967; }

.logo a {
    color: #555;
    text-decoration: none;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.logo a:hover { color: #e75967; }

.call-us {
    font-size: 16px;
    text-align: center;
}

.call-us p {
    margin-top: 18px;
    padding-right: 50px;
}

.call-us p span { color: #888; }


/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.inner-bg {
    padding: 90px 0 80px 0;
    background: rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 50px;
    font-weight: 700;
 
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.coming-soon p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
    font-weight:700;
}

.timer {
    margin-top: 40px;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    color: #fff;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 140px;
    margin: 0 10px;
    padding-top: 20px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background:rgba(255, 117, 151, 0.6);
    font-size: 18px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
    background: #ff7190;
    text-shadow: none;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 65px;
    line-height: 80px;
}


/***** Content *****/

.subscribe {
    margin-top: 10px;
    text-align: center;
}

.subscribe h3 {
    font-size: 25px;
    font-weight: 700;
    color: #595858;
    line-height: 40px;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #fff;
}

.subscribe p {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.subscribe form {
    margin-top: 24px;
}

.subscribe form input {
    width: 310px;
    height: 46px;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 46px;
    color: #888;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.subscribe form input:focus {
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.subscribe form input:-moz-placeholder { color: #888; }
.subscribe form input:-ms-input-placeholder { color: #888; }
.subscribe form input::-webkit-input-placeholder { color: #888; }

.subscribe form button {
    width: 130px;
    height: 46px;
    margin: 0;
    padding: 0;
    background: rgb(25, 169, 156);
    border: 0;
   font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 46px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.subscribe form button:hover {
    background: rgb(13, 71, 65);
    color: #fff;
}

.subscribe form button:active {
    background: #0270bb;
    color: #fff;
}

.success-message, .error-message {
    font-size: 18px;
}

.error-message {
    color: #0270bb;
}

.social {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 3px;
}

.social a.facebook { background: url(../img/social-icons/facebook.png); }
.social a.twitter { background: url(../img/social-icons/twitter.png); }
.social a.dribbble { background: url(../img/social-icons/dribbble.png); }
.social a.googleplus { background: url(../img/social-icons/googleplus.png); }
.social a.pinterest { background: url(../img/social-icons/pinterest.png); }
.social a.flickr { background: url(../img/social-icons/flickr.png); }
.social a.email { background: url(../img/social-icons/email.png);}


/***** Media Queries *****/

@media (min-width: 768px) and (max-width: 979px) {

    .logo h1 {
        padding-left: 0;
    }

    .call-us p {
        padding-right: 0;
    }

    .timer .days-wrapper,
    .timer .hours-wrapper,
    .timer .minutes-wrapper,
    .timer .seconds-wrapper {
        width: 140px;
        height: 120px;
        margin: 0 7px;
        padding-top: 20px;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
    }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds {
        font-size: 60px;
        line-height: 70px;
    }

}

@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .logo h1 {
        padding-left: 0;
        text-align: center;
    }

    .call-us {
        padding-bottom: 7px;
        text-align: center;
    }

    .call-us p {
        padding-right: 0;
    }

    .inner-bg {
        padding: 45px 0 50px 0;
    }

    .coming-soon h2 {
        font-size: 45px;
        padding: 0 20px;
    }

    .coming-soon p {
        padding: 0 20px;
    }

    .timer .days-wrapper,
    .timer .hours-wrapper,
    .timer .minutes-wrapper,
    .timer .seconds-wrapper {
        width: 140px;
        height: 120px;
        margin: 7px;
        padding-top: 20px;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
    }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds {
        font-size: 60px;
        line-height: 70px;
    }

    .subscribe h3 {
        padding: 0 20px;
        font-size: 28px;
    }

    .subscribe p {
        padding: 0 20px;
    }

}

@media (max-width: 480px) {

    .subscribe form {
        padding: 0 20px;
    }

    .subscribe form input {
        width: 90%;
    }

    .subscribe form button {
        width: 90%;
        margin-top: 10px;
    }

}

.iframe
{
	text-align:center;
	margin-top: 20px;
margin-bottom: 20PX;
}