#our-story {
    margin-bottom: 0 !important;
}

#team h3 {
    color: var(--theme-color-1);
}

#team-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.team-member-container {
    display: flex;
    justify-content: center;
}

    .team-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 270px;
        cursor: pointer;
    }

        .team-member.selected {
            box-shadow: 0 0 30px rgba(108, 108, 108, .75);
        }

        .team-member .member-image {
            width: 270px;
            height: 270px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .team-member .caption {
            background: #fff;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }

            .team-member.selected .caption {
                background: var(--theme-color-1);
                color: #fff;
            }
            
            .team-member p {
                margin: 0;
                text-transform: uppercase;
            }

            .team-member .name {
                font-family: 'Montserrat';
                font-weight: 900;
                font-size: 24px;

                margin-bottom: .25em;
            }

            .team-member .title {
                font-family: 'Roboto Condensed';
                font-weight: 100;
                font-size: 18px;
            }

.member-info {
    display: none;

    margin-top: 50px;
    font-family: 'Roboto Condensed';
    padding: 30px 36px !important;
}

    .member-info h4 {
        font-family: 'Montserrat';
        font-size: 24px;
        color: var(--theme-color-1);
        margin: 0;
    }



#achievements {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    grid-gap: 40px;
    justify-items: center;
}

    .achievement {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .achievement .circle {
            background: #3d3d3d;
            color: #fff;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding: 1.5em;
            box-sizing: border-box;
            font-family: 'Roboto Condensed';
            font-size: 15px;
            cursor: pointer;
        }

        .achievement:hover .circle {
            background: var(--theme-color-1);
        }

        .achievement .circle div:not(:first-child) {
            font-size: 12px;
        }

        .achievement > img {
            max-width: 120px;
            margin-left: 20px;
        }