#header-container {
	max-width: 100% !important;
	padding: 0 1em;
}

section {
	padding: 2em;
}

aside {
	min-width: 200px;
	background: #333;
	display: flex;
	color: #fff;
	font-family: Montserrat;
}

aside ul {
	list-style: none;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}

aside ul li {
	height: 40px;
}

aside a {
	color: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 1em;
	text-decoration: none;
	box-sizing: border-box;
}

aside li.current a {
	color: var(--theme-color-1) !important;
}

aside .fas {
	margin-right: 1em;
}

aside a:hover {
	background: #000;
}