.auth-form-wrapper {
	max-width: 800px;
	width: 100%;
	background: white;
	box-shadow: 0 .125em .25em .125em rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	padding: 50px;
	box-sizing: border-box;
}

.auth-form {
	width: 400px;
}

.remember-forgot {
	display: flex;
	justify-content: space-between;
}

.remember-forgot label {
	display: flex;
	flex-grow: 1;
	align-items: baseline;
}

.remember-forgot label input[type=checkbox] {
	width: auto;
	margin-right: .5em;
}

.remember-forgot a {
	display: flex;
	align-items: center;
}

form.auth-form.register a.button.disabled,
form.auth-form.register input[type=submit]:disabled {
	opacity: 0.25;
	cursor: default;
}