#bac-message .message-body {
    text-align: center;
}

.bac-form {
    display: grid;
    grid-gap: 16px;
    padding: 25px;

    grid-template-areas: 
        "name name name name email email email email skype skype skype skype"
        "phone phone phone phone country country country country age age age age"
        "steam steam steam steam games games games games games games games games"
        "exp exp exp exp exp exp exp exp exp exp exp exp"
        "teaching teaching teaching teaching teaching teaching teaching teaching teaching teaching teaching teaching "
        "opgg opgg opgg twitter twitter twitter twitch twitch twitch youtube youtube youtube"
        "hours hours hours hours hours hours agreement agreement agreement agreement agreement agreement"
        "submit submit submit submit submit submit submit submit submit submit submit submit";
}