#contact-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: stretch;
    text-align: left;
    padding: 50px calc((100% - 800px) / 2);
}

    #contact-links a {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 10px;
        align-items: center;
        background: var(--theme-color-1);
        font-family: 'Roboto Condensed';
        font-style: italic;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        padding: 20px 26px;
        border-radius: 25px;
    }

        #contact-links a i {
            font-size: 36px;
        }

#youtube-link:hover {
    background: #cc181e;
}

#discord-link:hover {
    background: #697fcb;
}

#twitter-link:hover {
    background: #00aced;
}

#facebook-link:hover {
    background: #3a5998;
}

#twitch-link:hover {
    background: #6441a4;
}

#linkedin-link:hover {
    background: #0077b5;
}

#contact-message p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.emph {
    color: var(--theme-color-1);
    font-size: 30px !important;
    margin-top: 1em;
}

#contact-form {
    display: grid;
    grid-gap: 16px;
    padding: 25px;

    grid-template-areas: 
        "name email"
        "phone date"
        "subject subject"
        "message message"
        "submit submit";
}

    #contact-form input {
        border: 0;
        border-radius: 4px;

        height: 40px;
        font-size: 14px;
        
        border: 1px solid #ccc;
        
        padding: 0 20px;
        font-weight: 100;
    }

    #contact-form input[type=submit] {
        background: var(--theme-color-1);
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }