main {
	display: flex;
}

table {
	background: #fff;
	border-collapse: collapse;
}
td, th {
	padding: 1em;
	border: 1px #ccc solid;

}

section {
	flex-grow: 1;
	justify-content: flex-start;
	align-items: flex-start;

	background: white;
}

h2 {
	margin: 0;
	margin-bottom: 2em;
}

table {
	width:100%;
}

td, th {
	border: none;
}

th {
	text-align: left;
}

tbody tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
	background: #f9f9f9;
}

tbody tr:nth-child(even) {
	background: #eee;
}