footer {
    font-family: 'Montserrat';
    font-weight: 100;
}

#signup, #newsletter, #links, #copy {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#signup, #newsletter {
    height: 150px;
    font-size: 20px;
    color: var(--theme-color-2);
    padding: 40px;
}

    #signup a, #newsletter input[type=submit] {
        color: #fff;
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
    }
    
    #signup {
        background: var(--theme-color-3);
    }
    
    #signup a {
        background: var(--theme-color-1);
        min-width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        margin: 0 36px;
    }
    
    #newsletter {
        background: #fff;
    }
    
    #newsletter input {
        font-size: 14px;
        height: 40px;
    }

    #newsletter input[type=submit] {
        background: #7b7b7b;
        border: none;
        width: 100px;
    }

    #newsletter input[type=email] {
        margin: 0 20px;
        width: 300px;
        padding: 0 20px;
        font-weight: 100;
    }

footer #links {
    flex-direction: column;
    padding: 30px;
    background: var(--theme-color-1);
}

footer #links, footer #links a {
    color: #fff;
}

#social {
    font-size: 24px;
    margin-bottom: 25px;
    word-spacing: 25px;
}

#external {
    font-size: 14px;
    font-weight: 300;
}
    #external a {
        text-decoration: underline;
    }

    #external a:hover, #social a:hover {
        color: #8fcfcb;
    }

#copy {
    height: 40px;
    font-size: 14px;
}