header {
    height: 100px;
    box-shadow: 0 0 3px 2px rgba(183, 183, 183, .75);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .9);
    -webkit-backdrop-filter: blur(10px);
}

#header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    box-sizing: border-box;
}

header a#logo {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

header a#logo img {
    height: calc(100% - 50px);
}

nav {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a {
    padding: 0 20px;
    border-top: transparent solid 2px;
    border-bottom: transparent solid 2px;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    box-sizing: border-box;
}

nav a.active, nav a:hover {
    color: var(--theme-color-1) !important;
}

nav a:hover {
    border-top-color: var(--theme-color-1) !important;
}

.dropdown ul a:hover {
    border-top-color: transparent !important;
}

header img.user {
    height: 40px;
    border-radius: 50%;
}

header .cta {
    color: var(--theme-color-1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 16px;
    border: solid 2px var(--theme-color-1);
    border-radius: 8px;
    display: inline-block;
    height: auto;
}

header .cta:hover {
    background: var(--theme-color-1);
    color: #fff !important;
}

img#show-menu, img#hide-menu {
    max-height: 100%;
    height: 24px;
    display: none;
}

header.mobile {
    height: auto;
}

header.mobile #header-container {
    flex-direction: column-reverse;
    padding: 24px 0;
}

header.mobile nav {
    display: flex !important;
    flex-direction: column !important;
}

header.mobile nav a:not(.cta) {
    font-size: 24px;
    margin: .5em 0;
}

header.mobile nav a:hover {
    border-top-color: transparent !important;
}

header.mobile nav .cta {
    display: none;
}

header.mobile img#hide-menu {
    display: inline-block !important;
    align-self: flex-end;
}

header.mobile img#show-menu, header.mobile a#logo {
    display: none !important;
}

header.mobile nav {
    display: block;
}

nav li {
    list-style: none;
}

/*.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}*/

.dropdown {
    height: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;

    margin: 0;
    box-shadow: 0 .25em .5em .125em rgba(0, 0, 0, .5);

    /*padding: 20px;*/
}

.dropdown ul {
    padding: 0;
}

.dropdown li {
    /*padding: 20px 25px;*/
}

.dropdown li i.fas {
    margin-right: 1em;
}

.dropdown li a {
    height: 100%;
    width: 100%;
    padding: 10px 25px;
    justify-content: flex-start;
    color: #666;
}

.dropdown li a:hover {
    color: #000 !important;
    background: #f5f5f5;
}

.dropdown li#user-info {
    padding: 20px 25px;
    margin-bottom: .5em;
    background: #e5e5e5;
}

.dropdown li #user-name {
    font-size: 24px;
}

.dropdown li #user-credits {
    margin-top: .5em;
    color: #999;
    font-weight: normal;
    font-size: 16px;
}

.dropdown li #user-credits.has-credits {
    color: var(--theme-color-1);
}