#slider {
    height: calc(100vh - 100px);
    background-image: url(../images/homepage_top_image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    #message {
        width: 760px;
        background-color: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(10px);
        border: 1px #999 solid;
        border-radius: 50px 0 50px 0;
        text-align: center;
        color: white;
        font-family: 'Roboto Condensed';
        padding: 20px;
    }

    #message h3 {
        font-size: 26px;
        margin-top: 0;
    }

    #message p {
        font-size: 18px;
        font-weight: lighter;
    }

.cta {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 16px;
    border: solid 2px #fff;
    border-radius: 8px;
    display: inline-block;
}

    .cta:hover {
        background: var(--theme-color-1);
        border-color: var(--theme-color-1);
    }

/* #scroll-down {
    position: absolute;
    bottom: 50px;
}

.mouse {
    width: 1px;
    padding: 10px 15px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 2px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
} */

.features {
    padding-top: 100px;
    padding-bottom: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

    .feature .feature-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000;
        text-align: center;
    }

        .feature:hover a.feature-container {
            color: var(--theme-color-1);
        }

        .feature img {
            height: 70px;
        }

        .feature .feature-container h4 {
            font-family: 'Roboto Condensed';
            font-weight: 100;
            font-size: 22px;
            margin-bottom: .5em;
        }

        .feature .feature-container div {
            font-family: 'Montserrat';
            font-weight: 300;
            font-size: 16px;
            text-align: center;
        }

#testimonials {
    flex-direction: column;

    background-image: url(../images/testimonials-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}

    #testimonial, #testimonee {
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 400;
        text-shadow: 0 0 12px rgba(0, 0, 0, 1);
    }

    #testimonial {
        font-size: 26px;
        font-style: italic;
    }

    #testimonee {
        font-size: 18px;
    }

#logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    background: #fff;
}

#logos .unavailable {
    max-width: 100%;
    opacity: .5;
}