body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#wrapper {
    font-family: Montserrat;
    max-width: 800px;
    width: 100%;
    margin: 50px 25px 25px;
    font-size: 18px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
}
h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    background: #00b5ac;
    color: #fff;
    padding: 16px;
    margin: 0;
}
#content {
    padding: 40px;
}
.group {
    margin-bottom: 1em;
}
label {
    display: block;
    background: #ddd;
    margin: 2em 0 1em;
}
.text {
    white-space: pre;
}
label, .text {
    padding: 6px;
}