#scroll-down, nav, footer {
    display: none;
}

#show-menu {
    display: inline-block !important;
}

section {
    grid-column-gap: 50px;
    padding: 40px 25px !important;
}

#slider #message {
    width: auto;
}

.features {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
}

#logos {
    display: none !important;
}
    #testimonial {
        font-size: 18px !important;
    }

    #testimonee {
        font-size: 14px !important;
    }

#bac-form {
    grid-template-areas: 
        "name email"
        "skype phone"
        "country age"
        "steam games"
        "exp exp"
        "teaching teaching"
        "opgg twitter"
        "twitch youtube"
        "hours agreement"
        "submit submit"
        !important;
}