section {
    grid-column-gap: 50px;
    padding: 40px 25px !important;
}

.features {
    grid-row-gap: 50px;
}

#logos {
    display: none !important;
}
    #testimonial {
        font-size: 18px !important;
    }

    #testimonee {
        font-size: 14px !important;
    }

    #contact-links {
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 30px;
        padding: 50px 25px;
    }

#bac-form {
    grid-template-areas: 
        "name"
        "email"
        "skype"
        "phone"
        "country"
        "age"
        "steam"
        "games"
        "exp"
        "teaching"
        "opgg"
        "twitter"
        "twitch"
        "youtube"
        "hours"
        "agreement"
        "submit"
        !important;
}

section#packages-container {
    grid-template-columns: 1fr !important;
}

.package {
    margin: 25px 50px !important;
    width: auto !important;
}

.package:nth-child(2) {
    height: auto !important;
}

#packages-message .message-body {
    flex-direction: column;
}

#packages-message .message-body > div:first-child {
    margin-bottom: 50px !important;
}