header {
    padding: 0 25px;
}

section {
    grid-column-gap: 50px;
    padding: 40px 25px !important;
}

#logos {
    display: none !important;
}
    #testimonial {
        font-size: 24px !important;
    }

    #testimonee {
        font-size: 16px !important;
    }

.message {
    margin: 25px !important;
}

.message h3 {
    font-size: 18px;
}

.message .message-body {
    /* padding: 0 1em; */
    font-size: 16px;
}

.message p {
    padding: .5em 0;
}

.package {
    width: 100% !important;
}