section {
    grid-column-gap: 50px;
    padding: 40px 25px !important;
}

#slider #message {
    width: auto;
}

.features {
    grid-template-columns: 1fr !important;
    grid-row-gap: 50px;
}

#logos {
    display: none !important;
}
    #testimonial {
        font-size: 18px !important;
    }

    #testimonee {
        font-size: 14px !important;
    }

    #contact-links {
        grid-template-columns: 1fr 1fr 1fr !important;
        padding: 50px 25px;
    }

    #contact-links a {
        grid-template-columns: 1fr !important;
        text-align: center;
    }

    #contact-links a div {
        display: none;
    }

        #contact-links a i {
            font-size: 24px !important;
        }

    #contact-form {
        display: grid;
        grid-gap: 16px;
        padding: 25px;
    
        grid-template-areas: 
            "name"
            "email"
            "phone"
            "date"
            "subject"
            "message"
            "submit"
            !important;
    }

    #packages-message .message-body > div {
        flex-direction: column;
    }

    #packages-message .message-body > div > div:first-child {
        margin-bottom: 25px !important;
    }