.modal-wrapper {
  visibility: hidden;
  z-index: 1050;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-open {
  visibility: visible;
}

.modal {
  z-index: 1040;
  position: relative;
  background-color: #fff;
  min-width:700px;
  max-height: calc(100% - 4em);
  max-width: calc(100% - 4em);

  overflow-y: auto;
  overflow-x: auto;

  /*box-shadow: 0 0 40px 20px rgba(0, 0, 0, .35);*/
}

.modal-content {
  outline: 0;
  width: 100%;
}

.modal-header {
  min-height: 16px;
  /*padding: 15px;*/
  /*padding-bottom: 0;*/
  padding: 0;
}

.modal-title {
  text-align: center;
  background: var(--theme-color-1);
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 0 30px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body > div {
  display: flex;
  width: 100%;
}

.label {
  display: flex;
  justify-content: flex-end;
  margin-right: .75em;
  align-items: center;
}

.label, .input-wrapper {
  width: 50%;
  padding: .25em;
  font-size: 16px;
}
.input-wrapper input, .input-wrapper select {
  padding: .5em;
}

.close {
  float: right;
  font-size: 21px;
  color: #999;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.modal button.close {
  margin-right: 7px;
}

#overlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background-color: rgba(0, 0, 0, .75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#image-modal .modal {
  min-width: 600;
}

#image-modal .modal-body {
  padding: 0;
}

#image-modal img {
  margin:0;
}

.blur {
  filter: blur(10px);
}

#modal input {
}

#modal textarea {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border: 0;
  outline: none;
  font-family: inherit;
  resize: none;
  width: 100%;
}

#modal-buttons-wrapper {
    display: flex;
    align-items: center;
    padding: 1.5em;
    padding-top: 0;
    justify-content: center;
}

#modal-buttons-wrapper button {
  /*margin: 0 1em;*/
}

.modal button {
    /*border: 0;
    padding: 1em 2em;
    border-radius: .25em;
    font-weight: bold;*/
}

.modal button.normal {
    /*background: -moz-linear-gradient(top, #6dace8 0%, #1664a3 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #6dace8 0%,#1664a3 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, #6dace8 0%,#1664a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*color: white;*/
}
.modal button.delete {
    /*background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*color: white;*/
}
.modal button.cancel {
    /*background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*color: black;*/
}