section#packages-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 100px;
    padding-top: 100px;
    justify-items: center;
}

    .package {
        display: flex;
        flex-direction: column;


        box-shadow: 0 10px 15px rgba(0, 0, 0, .75);
        background: #fff;
        
        transition: transform .32s cubic-bezier(.25, .46, .45, .94);
        
        text-align: center;

        width: 300px;
    }
        .package .top, .package .top * {
            font-weight: 300;
        }
        
        .package .top {
            color: #fff;
            background: var(--theme-color-1);
            padding: 20px;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            flex-grow: 1;
        }

            .package h4 {
                margin: 0;
                padding-bottom: 10px;
                font-size: 36px;
            }

            .package p.price, .package p.credits {
                margin: 25px 0;
                color: #000;
                font-weight: 600;
                font-size: 36px
            }

            .package hr {
                border: 1px rgba(255, 255, 255, .5) solid;
                width: 75%
            }

    .package:nth-child(2) {
        height: calc(100% + 50px);
    }

    .package:hover {
        transform: translate(0, -12px);
    }
        .package:nth-child(2) .top {
            background: var(--theme-color-1);
        }

    .package .bottom {
        padding: 24px;
    }

    .package a.buy {
        display: inline-block;
        background: #fff;
        color: var(--theme-color-1);
        text-decoration: none;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        border-radius: 4px;
        min-width: 200px;
        font-weight: 600;
        border: solid 2px var(--theme-color-1);
    }

    .package a.buy:hover {
        background: var(--theme-color-1);
        color: #fff;
    }

#packages-message {
    text-align: center;
}

    #packages-message .message-body {
        display: flex;
    }
    
    #packages-message .message-body > div {
        display: flex;
        align-items: center;
        margin: 0 50px;
    }

    #packages-message .message-body > div > div:nth-child(odd) {
        font-size: 36px;
        flex-basis: 40%;
        white-space: nowrap;
    }

    #packages-message .message-body > div > div:nth-child(even) {
        flex-basis: 60%;
    }