#router-section {
    display: grid;
    grid-gap: 40px;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.action {
    width: 300px;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
    padding: 40px 20px;
}

.action div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    height: calc(100% - 120px);
    background: white;
    box-sizing: border-box;

    margin-bottom: 2em;
}

    .action div:nth-child(1) img {
        max-width: 115px;
        max-height: 115px;
        margin-bottom: 2em;
    }

    .action div:nth-child(1) a {
        /*background: #fff;
        min-width: 200px;
        font-size: 14px;
        margin-top: 20px;
        padding: 16px 20px;
        color: var(--theme-color-1);
        text-decoration: none;
        text-align: center;
        border-radius: 4px;
        display: inline-block;*/

        display: inline-block;
        background: #fff;
        color: var(--theme-color-1);
        text-decoration: none;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        border-radius: 4px;
        min-width: 200px;
        font-weight: 600;
        border: solid 2px var(--theme-color-1);
    }

    .action div:nth-child(1) a:hover {
        background: var(--theme-color-1);
        color: #fff;
    }

.action div.instructions {
    min-height: 120px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;
}

.bottom-line {
    font-size: 1.1em;
    font-weight: bold;
}