
.fadebg{
    position:fixed;
    width:100%;
	height:100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(178,178,178,0.5);
    display:none;
	z-index:9000;
}
.innerhelp{
      position:absolute;
   /* max-width:45%;
    max-height:45%; */
    max-width: 100%;
    max-height: 100%
    top:40px;
    /*top:50%;*/
    left:50%;
    overflow:visible;

   /* position:fixed;
    top:100px;
  left:50%;
    width:750px;
    margin-left:-375px; 
    background-color:#b2b2b2;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.15);
    border-radius:10px;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    opacity:1;
  z-index:9999;*/
}
img.howto {
    position:relative;
    max-width:100%;
    max-height:100%;
 /*   margin-top:-50%; */
 margin-top:40px;
    margin-left:-50%;
}

.helplink {
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   padding-left: 270px;
   text-decoration: underline;
}

.faq-cnt {
    float: left;
    padding-top: 30px;
    width: 100%;
  line-height: 35px !important;
    padding: 30px 180px;
}

.faq-cnt p{
  font-size:28px;
  font-family: 'latoitalic';
  color:#00B5AC;  
  
}
.faq-cnt span{
  font-size:21px;
  font-family: 'latoregular';
  color:#005751;
  float:left;
  margin-top:-5px;
  margin-bottom:30px;
  line-height:30px;
  
}

.dropdown-menu {
 top:50px;
}

.footer-down{
    background: rgba(0,0,0,0.7) none repeat scroll 0 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'latoregular';
    font-size: 14px;
    float: left;
    width: 100%;
}


body {
  min-height: 100%;
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}


html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #f5f5f5;
}


.learn-more {
width: 50%;
}
.jumbotron {
  padding: 0px;
  margin-bottom:20px;
}

.jumbotron2 {
  padding: 0px;
  background-image: url("/images/homepage_top_image2.png");
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 50%;
	width:100%;
	/*height:400px;*/
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
}

.thumbnail-games {
	border: none;
	border-radius: 0px;
	background-color: #cacaca;
}


.row-games {
margin-right: 0px;
margin-left: 0px;
}

.h2-title {
text-align: center;
margin-top: -10px;
}

.h2-title2 {
text-align: center;

}

.row-sites {
margin-right: 0px;
margin-left: 0px;
}

.aboutus {
padding: 0px;
}

.bottom-cnt{
/*	padding-bottom: 160px;*/
}

.faq{
	padding-bottom: 160px;
}