/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
 .navbar-inverse .navbar-nav > li > a{
 padding: 5px 21px;
  border-radius: 17px;
 }
 .navbar-nav > li {
    margin-left: 3px;
}
.navbar-nav {
    margin-top: 25px;
}
.navbar-inverse .navbar-nav > li > a{
font-size:18px;
}

}
/* md */
@media (max-width: 1199px) {
 
}
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
 .innertxt{    height: 232px; padding-left: 12px;
}
 .navbar-inverse .navbar-nav > li > a{
font-size:18px;
}
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
  .navbar-inverse .navbar-nav > li > a{
  padding: 5px 6px;
  }

  .navbar-nav > li {
    margin-left: 5px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    margin-top: 26px;
}

.navbar-inverse .navbar-nav > li > a {
border-radius: 17px;
}
.lead {
    font-size: 20px;
    line-height: 29px;
	}
.txtheight .innertxt h2{
	font-size:36px;}
	.txtheight .innertxt h3{
	font-size: 22px;
	line-height: 32px;
	}
  .recent-work-wrap .recent-work-inner h3 a {
    font-size: 20px;
  }

  .recent-work-wrap .overlay{
    padding: 15px;
  }

  .services-wrap {
    padding: 40px 10px 40px 30px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }

  .tab-wrap .media .parrent.pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body{
    clear: both;
  }

  #portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .recent-work-wrap .overlay .preview{
    line-height: inherit;
  }

  .team-bar .first-arrow {
    width: 21%;
  }

  .team-bar .second-arrow {
    width: 20%;
  }

  .team-bar .third-arrow {
    width: 21%;
  }

  .team-bar .fourth-arrow {
    width: 20%;
  }

  ul.social_icons li{
    margin-right: 0;
  }
 
  .first-player iframe,.second-player iframe{width:100%;}
  .col-content p{height:135px;}
  .tabbed-content::after{width:24px !important;right:97.75%;}
}


/* sm */
@media (min-width: 991px){
    .person-img{width: 300px;}
}
@media (max-width: 992px){
 
}
@media (max-width: 991px) {
.tabbed-content:after {
	left: 46% !important;
	top: 0% !important;
}
 .health-sys{padding-right: 0px;}
/*.innertxt{height:270px;}*/
	.txtheight .innertxt h3{
	font-size: 19px;
	line-height: 32px;
	}
	.txtheight{padding-left: 14px;}
 
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
.center h2 {
    font-size: 33px;

	}
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
.navbar-nav {
    margin-top: 29px;
}
.navbar-inverse .navbar-nav > li > a {
    padding: 4px 4px;
	}
  .navbar-nav > li {
    margin-left: 0;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
}

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 20px;
  }

  .tab-wrap .media .parrent.pull-left, 
  .media.accordion-inner .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body, 
  .media.accordion-inner .media-body{
    clear: both;
  }

  .services-wrap {
    padding: 40px 0 40px 30px;
  }

  .recent-work-wrap .overlay{
   padding: 15px;
  }

  .recent-work-wrap .recent-work-inner h3 a {
    font-size: 20px;
  }

  .sinlge-skill{
    width: 150px;
    height: 150px;
  } 

  .sinlge-skill p em {
    font-size: 25px;
  }

  .sinlge-skill p {
    font-size: 16px;
  }

  .team-bar .first-one-arrow {
    width: 2%;
  }

  .team-bar .first-arrow {
    width: 18%;
  }

  .team-bar .second-arrow {
    width: 24%;
  }

  .team-bar .third-arrow {
    width: 15%;
  }

  .team-bar .fourth-arrow {
    width: 20%;
  }

  .blog .blog-item .entry-meta > span a{
    font-size: 10px;
  }
  .align-center, .align-center .social{text-align: center;}
  .small-device-space{padding: 5px 0;}
  .mymenu{width: 100%}
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-toggle{border: 0 solid transparent; margin-top: 30px;}
  .header-wrapper .nav.navbar-nav{margin: 0;}
  .header-wrapper .navbar-nav > li{border-bottom: 1px solid rgba(255, 255, 255, 0.13); padding-bottom: 0;}    
  .header-wrapper .navbar-inverse .navbar-nav > .active > a{}
  .header-wrapper .navbar-inverse .navbar-nav > li > a{ display: block; border-radius: 0; color: #FFF;}
  .header-wrapper .navbar-inverse .header-menu .navbar-nav > li > a:hover{background-color:#4cc8c2;color:#fff;}
  .header-wrapper .navbar-inverse .header-menu .navbar-nav > li > button:hover{background-color:#4cc8c2;color:#fff;border:none;}
  .header-wrapper .nav.navbar-nav{background-color: #004640;}
  .header-wrapper .btn{width: 100%;}  
  .first-player{margin-bottom:30px;} 
  .inner-content iframe{width:100%;height:100%;}
  .col-content p{height:auto;}
  .content-btn{margin-top:80px;}
  .with-us p,.our-story p,.about-cnt{padding-left:0px;padding-right:0px;}
  .with-us-logo img{display:table;margin:0 auto;width:auto;}
  .slide-content p {font-size:35px;line-height:37px;padding-top:5px;padding-bottom:5px;}
  .slide-caption{top:10%;width:100%;left:0;}
  .slide-content h1{font-size:50px;}
  .learn-more,.find-coach{font-size:25px;}
  .slide-btn{width:auto;}
  .col-content{margin-bottom:50px;}
  #main-slider{margin-top:15px;}
  .navbar-brand{float:none;}
  .tabbed-content:after{background-image:none !important;}
  .btn.btn-secondary.login{border:none;float:left;color:#FFF;float:none;text-align:left;}
  .owl-theme .owl-controls{margin-top:0px !important;}
  .testi-whole-section .col-md-4:nth-child(3) .testimonial-wrapper .col-content{margin-bottom:0px;}
  .with-us-logo img{display:table;margin:0 auto;width:40%;}
  .banner-section{margin-top:15px;}
  .col-content h5{padding-bottom:10px;}
  .logo-box{margin-bottom:15px;}
  .with-us-logo:nth-child(3){margin-top:px;}
}

/* xs */
@media (max-width: 767px) {
  .tabbed-content:after {left: 44% !important;top: 0% !important;}
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }
.social,.contact{text-align:center;}
  .top-number{
    font-size: 14px;
  }

  input.search-form:hover {
    width: 120px;
  }
.center h2 {
    font-size: 30px;
	}
  .navbar-nav > li {
    padding-bottom: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 16px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }


  .media.accordion-inner .pull-left, 
  .media.accordion-inner .media-body{
    clear: both;
  }

  .accordion-inner h4 {
    margin-top: 10px;
  }

  .tab-wrap .media .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .media-body{
    clear: both;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }
    
.col-sm-4.ingram-address{padding-bottom:15px;}
.header-wrapper .nav.navbar-nav{margin: 0;}
.header-wrapper .navbar-nav > li{border-bottom: 1px solid rgba(255, 255, 255, 0.13);}    
.header-wrapper .navbar-inverse .navbar-nav > .active > a{}
.header-wrapper .navbar-inverse .navbar-nav > li > a{ display: block; border-radius: 0; color: #FFF;}
.header-wrapper .navbar-inverse .navbar-nav li a:hover{background-color: transparent; color: #FFF;}
.header-wrapper .nav.navbar-nav{background-color: #004640;}
.header-wrapper .btn{width: 100%;}
.navbar-toggle{border: 0 solid transparent; margin-top: 30px;}
.nogutter{padding-right: 15px; padding-left: 15px;}
.medium, .txtheight{padding: 0;}
.pad-small{border-bottom:1px solid #ccc; }
.nospace{padding-right: 0; padding-left: 0;}
.innerspa{padding-right: 0; padding-left: 0;}
.inner-right-container{padding-right: 15px; padding-left: 15px;}
.inner-content iframe{width:100%;}
.logo-box img{width:100%;}
.first-player{margin-bottom:30px;}
.tabbed-content{margin-top:15px;}
.with-us p,.about-cnt{padding-left:0px;padding-right:0px;}
.our-story p{padding-left: 10px;padding-right:0px;}
.with-us-logo:nth-child(3) {margin-top: 0px;}
.with-us-logo img{display:table;margin:0 auto;width:50%;}
.tabbed-content{height:auto;padding-bottom:75px;}
.navbar-brand{float:none;}
.navbar-brand img{width:70%;}
.content-btn{margin-top:70px;}
.our-story.container{float:left;}
}

/* XS Portrait */
@media (max-width: 420px) {
.footer-text{font-size:12px;}
.tabbed-content{height:400px;padding-bottom:70px;}
.col-content p{height:auto;}
.testi-whole-section .col-md-4 .testimonial-wrapper .col-content{height:350px !important;margin-bottom:35px;}
.executive-box {margin-top: 20px;}
.tabbed-content{height:400px;}
.navbar-brand{float:none;}
.navbar-brand img{width:75%;}
.navbar-toggle{margin-top:12px;}
.content-btn {
    margin-top: 60px;
}
.with-us-logo img{display:table;margin:0 auto;width:100%;}
.tabbed-content{height:440px;}
}
